.add-voting-form{
    padding: 50px 0;
    background: url("../assets/images/showcase__background.png") no-repeat center / cover;
}
.add-voting-form__container{
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
    border: 3px solid #767676;
    border-radius: 30px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(160, 160, 160, 0.2) 100%);
}
.add-voting-form__section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}
.add-voting-form__title{
    font-weight: 900;
    font-size: 28px;
    text-align: center;
}
.add-voting-form__group{
    display: flex;
    flex-direction: column;
}
.add-voting-form__label{
    font-weight: 700;
    font-size: 20px;
}
.add-voting-form__input{
    padding: 6px;
    border: 3px solid #767676;
    border-radius: 10px;
}
.add-voting-form__small{

}
.add-voting-form__add-option{
    text-align: right;
}
.add-voting-form__button-create {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: color 0.3s ease;
    font-weight: 700;
    font-size: 22px;
    width: 240px;
    height: 60px;
}
.add-voting-form__button-create::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(90deg, #ff007f, #0077ff);
    border-radius: 20px;
    padding: 3px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 0.3s ease;
}
.add-voting-form__button-create:hover {
    color: #0077ff;
}
.add-voting-form__input-file {
    display: none;
}
.add-voting-form__button-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    background-color: black;
    border: 3px solid transparent;
    border-radius: 8px;
    background-image: linear-gradient(black, black), linear-gradient(90deg, #ff007f, #0077ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    font-weight: 700;
    width: 200px;
    height: 40px;
}
.add-voting-form__button-upload:hover {
    color: #0077ff;
}


