.footer{
    background: #191919;
    height: 200px;
    color: #fff;

}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
.footer__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__list{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footer__container{
    display: flex;
    gap: 100px;
}
.footer__item{
    font-weight: 400;
    font-size: 14px;
    color: #e8e8e8;
}
.footer__sublist{
    font-weight: 400;
    font-size: 12px;
    color: #e8e8e8;
}
.footer__item:first-child{
    font-weight: 600;
    font-size: 18px;
    color: #e8e8e8;
}
.footer__link {
    display: flex;
    align-items: center;
}
.footer__subitem:nth-child(1) a::before {
    content: url('../assets/images/footer__linkedIn-img.svg');
    margin: 0 5px;
}
.footer__subitem:nth-child(2) a::before {
    content: url('../assets/images/footer__x-img.svg');
    margin: 0 5px;
}
.footer__subitem:nth-child(3) a::before {
    content: url('../assets/images/footer__github-img.svg');
    margin: 0 5px;
}



