.voting__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.voting__title{
    font-weight: 700;
    font-size: 72px;
}
.voting__form{
    width: 305px;
    height: 40px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #00D0FF;
    border-radius: 100px;
    background: linear-gradient(90deg, rgba(255, 0, 183, 0.1) 0%, rgba(0, 208, 255, 0.1) 100%);
}
.voting__cards{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 35px;
    margin-bottom: 100px;
}